<% include ../header.ejs %>

<div class="row">
	<div class="col-sm-12">
		<h2 class="text-center">Sửa Thành Viên</h2>
	</div>
</div>

<form method="post" action="/admin/edit-users" enctype="multipart/form-data">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				    <input type="hidden" name="id" class="form-control" id="exampleInputEmail1" value="<%=data[0]._id%>" >
				    <span style="color: red"></span>
				</div>
		</div>

	</div>
	<div class="row">
		
			<div class="col-sm-6">
				<div class="form-group">
				    <label for="exampleInputEmail1">Tên đăng nhập</label>
				    <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="Tên đăng nhập" value="<%= data[0].username%>" disabled="true">
				    <span style="color: red"></span>
				</div>

				<div class="form-group">
				    <label for="exampleInputPassword1">Mật khẩu</label>
				    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" value="<%= data[0].password%>" disabled="true">
				     <span style="color: red"></span>
		  		</div>

				<div class="form-group">
	    			<label for="exampleInputEmail1">Địa chỉ Email</label>
	   				<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<%= data[0].email%>">
	   				<span style="color: red"></span>
	  			</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Giới tính</label>
		  			<select class="form-control" name="sex">
		  			  <% let checkNam = '';
		  			  	 let checkNu = '';

		  			  	 if(data[0].sex == 1){
		  			  	 checkNam = 'selected';
		  			  	}else{
		  			  	 checkNu = 'selected';
		  			  }
		  			  %>
					  <option value="1" <%= checkNam %> >Nam</option>
					  <option value="0" <%= checkNu %>>Nữ</option>
					  
					</select>
				</div>
				 
			</div>

			<div class="col-sm-6">
				<div class="form-group">
				    <label for="exampleInputEmail1">Họ và tên</label>
				    <input type="text" name="fullname" class="form-control" id="exampleInputEmail1" placeholder="Họ và tên" value="<%= data[0].fullname%>">
				    <span style="color: red"></span>
				</div>

				<div class="form-group">
				    <label for="exampleInputPassword1">Ngày sinh</label>
				    <input type="date" name="birthday" class="form-control" id="exampleInputPassword1" placeholder="Ngày sinh" value="<%= data[0].birthday%>">
				    <span style="color: red"></span>
		  		</div>

				<div class="form-group">
	    			<label for="exampleInputEmail1">Địa chỉ</label>
	   				<select class="form-control" name="address">
	   				  <% 
						<!-- var checkAddress = null; -->
	   				  for(x of city) { 
						if(x.id_city == data[0].address){
							var checkAddress = 'selected';
						}
						<!-- console.log(checkAddress); -->
	   				  %>
					  <option value="<%= x.id_city %>" <%= checkAddress %> > <%= x.city_name%></option>
					  <% checkAddress = null} %>
					  
					</select>
	  			</div>

				<div class="form-group">
					<label for="exampleInputEmail1">Ảnh đại diện</label>
					<input type="file" name="avatar" class="form-control" id="exampleInputPassword1" placeholder="">
					<img src="/images/<%= data[0].avatar%>" alt="" width="100px" height="100px" style="margin-top: 20px">
				</div>
				 
			</div>
		
	</div>


	<div class="rơ">
		<div class="col-sm-12">
			<label for="">Ghi chú</label>
			<textarea name="comment" id="ckeditor" class="ckeditor" cols="30" rows="10"><%= data[0].comment%></textarea>
		</div>
	</div>

	<div class="rơ">
		<div class="col-sm-12">
			<div class="checkbox">
			    <label>
			    	<%
						let checked = '';
						if(data[0].active == 'on'){
						checked = 'checked';
						}
			    	%>
			      <input type="checkbox" <%= checked%> name="active">Active ?
			    </label>
		  	</div>

		  	<div class="form-group">
		  		<input type="submit" class="btn btn-success" value="Sửa thành viên" />
		  	</div>
	  </div>
	</div>

</form>

<% include ../footer.ejs %>